---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
import Header from '../../components/Header.astro';

const default_language = "es"
---

<Layout title="Portfolio" language={default_language}>
	<Header selected_language={default_language}></Header>
	<main>
	
	</main>
</Layout>
