<section>
    <h2 class="text-3xl font-bold text-center mb-4">Experiencia laboral</h2>
    <hr/>
    <article class="grid grid-cols-12 gap-4 mt-8">
        <div class="col-span-1 border-e-2 border-e-white text-center block">
            <img src="/img/logo_iie.svg" alt=""><br/>
            <span>2024-12</span><br/>
            <span>|</span><br/>
            <span>2022-12</span>
        </div>
        <div class="col-span-11">
            <h3 class="text-2xl font-bold">Instituto de Ingeniería Energética (IIE) - Universitat Politècnica de Valencia</h3>
            <h2 class="text-xl font-bold mt-2 mb-2">Ingeniero Tecnico de investigacion - Infraestructura para el Autoabastecimiento Electrico Sostenible con Fuentes Renovables del Municipio Aras de los Olmos (TED2021-130464B-I00).</h2>
            <p>Desarrollo de aplicaciones web, disenyo e implementacion de APIs , algoritmica, disenyo de base de datos, scripting y despliegue de aplicaciones.</p>
            <p>Link de interes: <a href="https://inasolar.es/desarrollo/">https://inasolar.es/desarrollo/</a></p>
            <p>Tecnologias empleadas: Python, FastAPI, DASH, Numpy, Pandas, NodeJS, EJS, ElectronJS, Bootstrap, SQL Server, GitHub</p>
        </div>
    </article>
    <article class="grid grid-cols-12 gap-4 mt-8">
        <div class="col-span-1 border-e-2 border-e-white text-center block">
            <img class="w-18" src="/img/odec_logo.png" alt=""><br/>
            <span>2020-05</span><br/>
            <span>|</span><br/>
            <span>2019-09</span>
        </div>
        <div class="col-span-11">
            <h3 class="text-2xl font-bold">ODEC CENTRO DE CÁLCULO Y APLICACIONES INFORMÁTICAS, S.A.</h3>
            <h2 class="text-xl font-bold mt-2 mb-2">Administrador de sistemas en formacion dual</h2>
            <p>Mantenimiento frontend de varias webs, administracion Windows Server Y Active Directory, monitorizacion de la red local, solucion a incidencias, configuracion e instalacion de RACK, instalacion de quipos, ciberseguriad, creacion de estrategias copias de copias de seguridad</p>
            <p>Tecnologias empleadas: Linux, Windows Server, WMI, SNMP, TheDude, SolarWinds, VMware vSphere, VMware ESX, Backups</p>
        </div>
    </article>
</section>