---
interface Props{
    selected_language: String
}

const { selected_language } = Astro.props;
const es_class = selected_language == "es" ? "p-2 px-4 text-white bg-stone-800 rounded  dark:bg-amber-200 dark:text-black"  : "p-2 px-4 "
const en_class = selected_language == "en" ? "p-2 px-4 text-white bg-stone-800 rounded  dark:bg-amber-200 dark:text-black"  : "p-2 px-4"

---
<header>
    <div class="flex justify-end">
        <div>
            <div class="flex gap-4">
                <div>
                    <button id="ligth-theme-button">Ligth</button> / <button id="dark-theme-button">Dark</button>
                </div>
                <div class="align-middle">
                    <a href="/es"><button class={es_class}>ES</button></a> / <a href="/en" ><button class={en_class}>EN</button></a>
                </div>
                
            </div>
        </div>
    </div>
</header>
