---
interface Props{
    selected_language: String
}

const { selected_language } = Astro.props;
const es_class = selected_language == "es" ? "p-2 text-white bg-slate-950 rounded dark:bg-white dark:text-black"  : "p-2 "
const en_class = selected_language == "en" ? "p-2 text-white bg-slate-950 rounded dark:bg-white dark:text-black"  : "p-2 "

---
<header>
    <div class="flex justify-between">
        <div class="text-3xl font-bold">Welcome to Astro</div>
        <div>
            <div class="flex gap-4">
                <div>
                    <button id="ligth-theme-button">Ligth</button> / <button id="dark-theme-button">Dark</button>
                </div>
                <div class="align-middle">
                    <button class={es_class}><a href="/es">ES</a></button> / <button class={en_class}><a href="/en" >EN</a></button>
                </div>
            </div>
        </div>
    </div>
</header>
