---

---

<section id="imageview-section" class="w-screen h-screen bg-slate-400 bg-opacity-50 top-0 left-0 fixed flex justify-center items-center">
    <div class="w-1/2 bg-white ">
        <img src="/img/picofme.webp" alt="" class="w-auto h-auto">
    </div>
</section>